@model OnlineGroceryApp.Models.Product


@{
    Layout = "~/Views/Shared/userlayout.cshtml";
}


<h2>@Model.ProductName</h2>
<img src="@Model.ProductImage" alt="@Model.ProductName" width="200" />
<p><strong>Price:</strong> @Model.ProductPrice</p>
<p><strong>Stocks:</strong> @Model.ProductStocks</p>
<p><strong>Description:</strong> @Model.ProductDescription</p>
